@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);

*{
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	//background: url(../img/light_wool.png); 
	background: #333 url(../img/dark_wall.png);
}

header h1, header h2{
	color: #5a5a5a;
	font-weight: normal;
	font-size: 1.8em;
	font-family: 'Droid Serif', serif;
	padding: 0 0 4px 26px;
	width: 50%;
}

h1 span.logo {
	padding-bottom: 3px;
	border-bottom: 2px solid grey;
	
}
h1 span.bolder{

	font-weight: bold;
}
header h2 {
	margin-top: .3em;
	font-size: 1.1em;
}
header {
	width: 1000px;
	//height: 40px;
	background: #333 url(../img/dark_wall.png);
	//background: #202020 url(../img/light_wool.png); 
	margin: 0 auto 30px;
	padding: 10px 10% 6px;
	position: fixed;
	z-index: 9999;
}
header ul {
	float: right;
	position: relative;
	margin: -50px 12px 0 0;
	width: 30%;
}
header ul li {
	list-style-type: none;
	display: inline;
	//margin-left: 30px;
	width: 60px;
	text-align: right;
	float: right;
}
header a {
	color: #a2a2a2;
	text-decoration: none;
}
header a:hover {
	text-decoration: underline;
}
#sec1 {
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	padding: 115px 0 0 0;
}
#infoWindow {
	width: 460px;
	height: 110px;
	float: left;
	margin: 0 0 15px 28px;
	border-bottom: 1px dashed grey;
	border-left: 1px dashed grey;
}
#map {
	float: left;
	width: 500px;
	height: 600px;
	position: relative;
	margin-top: 0;
}
svg {
	position: absolute;
	top: 0;
	left: 0px;
}
#pcpContainer {
	float: left;
	width: 460px;
	height: 360px;
	position: relative;
	margin: 10px 10px 0 30px;
}
#pcpAxisTitles {
	width: 500px;;
	float: left;
	margin: 15px 0 0;;
}
#pcpAxisTitles span {
	margin-right: 18px;
	text-align: center;
	color:  #a2a2a2;
	padding: 2px 3px;
	cursor: pointer;
}
#pcpAxisTitles span:hover{
	color: #2B8CBE;
}
#pcpAxisTitles span.titleSelected {
	color: #359ad6;
}
.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	background-color: teal;
}

.background {
  fill: ghostwhite;
}

.foreground {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}
.county {
  fill: none;
  stroke: #fff;
  stroke: #2c2c2c;
  stroke-width: .04em;
  cursor: pointer;
}

#infolabel {
	position: absolute;
	padding: 2px 8px 6px;
	background: #202020;
	border: solid 1px #606060;
	border-radius: 4px;
	font-size: .8em;
	opacity: .9;
	
}
#infolabel h3 {
	font-weight:600;
	color: white;
	font-size: 1.3em;
}
#infolabel h4{
	font-weight:400;
	color: white;
	font-size: 1.1em;
}
.pcplot {

}

.pcpLines path {
	fill: none;
	stroke-width: .1em;
	stroke: #515151;
	cursor: pointer;
}

.axes path {
	fill: none;
	stroke: #2c2c2c;
	stroke-opacity: 1;
	stroke-linecap: round;
	cursor: pointer;
}
.axis path.selected {
	color: yellow;
}
/* ----------- */
.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.selectedMug {
	stroke: yellow;
	position: absolute;
}

#sec2{
	background: url(../img/light_wool.png); 
	width: 100%;
	clear: both;
	font-family: 'Droid Serif', serif;
	color: #484848;
	padding: 105px 0 0 26px;
}
#sec2 > article {
	width: 1000px;
	margin: 0 auto 0;
}
#sec2 p {
	font-size: .9em;	
	font-family: 'Open Sans', sans-serif;
}

#sec2 h2 {
	margin: 10px 0;
	font-size: 1.8em;
}
#sec2 h3 {
	margin: 10px 0;
	font-size: 2.4em;
	font-variant: small-caps;
	font-family: 'Open Sans', sans-serif;
	color: #dedede;
}
#sec2 dl {
}
#sec2 dt {
	font-size: 1.1em;
	font-weight: 700;
	margin: 20px 0 10px;
	
}
#sec2 dd {
	font-size: 1em;
	margin: 0 0 6px 10px;
	font-family: 'Open Sans', sans-serif;
}